* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.whiteboard {
  background-color: white;
  cursor: url(/pen.png), crosshair;
  height: 85%;
  width: 85%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
